#indexButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleText{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
  color: rgb(250, 250, 250);
  background-color: rgb(37, 38, 38);
  font-family: Copperplate;
}

button {
  font-family: Copperplate;
  color: rgb(250, 250, 250);
  background-color: rgb(176, 50, 50);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-align:center;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(193, 99, 99);
    border-radius: 30px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(176, 50, 50);
  }
